#top{
    background-image: linear-gradient(to right, #D4EFE0 ,#52BE80   );
    height:100px;
    transform: skewY(20deg);
    position:relative
}
 
#sec{
    background-image: linear-gradient(to right, #D4EFE0 ,#52BE80   );
    height:100px;
    position:relative
   
}

#photo{
    width:200px;
    height:200px;
    border-radius:100px;
    border: 7px solid #C2F8D8;
    margin-left:42%;
    margin-top:2%
}
h1,hr{
    color:#2E4053 
}
#about{
    width:50%;
    margin-left:25%
}

.one{
     width:200px;
    height:200px; 
    border-radius:50%;
    border:20px solid #52BE80 ;
  
  
   
}
#coding{
    background-image: linear-gradient(to bottom, #D4EFE0 ,#52BE80   );
    margin-top:2%;
    text-align:center;
    height:400px
  
}
.git{
    width:100%
}
/* @media only screen and (max-width: 900px) {
    #coding{
        height:800px
    }
   
}
@media only screen and (max-width: 800px) {
    #coding{
        height:1200px
    }
   
} */
@media only screen and (min-width: 800px) and (max-width:1000px){
    #coding{
        height:700px
    }
}

 @media only screen and (max-width: 800px) {
    #coding{
        height:1200px;
    }
}

   
