
#photo{
    width:200px;
    height:200px;
    border-radius:100px;
    border: 7px solid #C2F8D8;
    margin-left:42%;
    /* margin-top:2%; */
    animation:  bounceIn 2s ease-in-out 3s;
}

h1{
    color:#2E4053 
}
#about{
    width:50%;
    margin-left:25%;

   
}  
h5{
  animation-duration: 3s;
  animation-name: slidein;
  
}
 @keyframes slidein {
    from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.proficiency:hover{
  border-radius: 25px;
background: #31d8a0;
box-shadow: inset 26px 26px 55px #197053, 
            inset -26px -26px 55px #49ffed;
}
.proficiency>img:hover{
  animation-name: rotate; 
  animation-duration: 0.7s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.one{
     /* width:200px;
    height:200px;  */
    height:120px;
    width:120px;
    border-radius:50%;
    border:20px solid #52BE80 ;
    border-left: 20px solid blue;
     border-top: 20px solid #212f3d;
     border-right: 20px solid #e93413;
      border-bottom: 20px solid   #978505 

  
  
   
}

.proficiency{
    box-shadow: 2px 2px 2px 2px #888888;
    min-width:200px;
     /* border-bottom-right-radius: 200px 120px; */
     border-radius: 15%;
    margin:2%;
    padding:2%;
    /* //background-color:#74dfa3; */
border-radius: 50px;
background: linear-gradient(145deg, #34e7ab, #2cc290);
/* box-shadow:  20px 20px 37px #145640, 
             -20px -20px 37px #4effff; */

}
.live{
    width:40px;
    margin:20px
}
.shad{
    box-shadow: 5px 5px 8px 5px #888888;
     border-bottom-right-radius: 150px 80px;

 
}
#coding{
    background-image: linear-gradient(to bottom, #D4EFE0 ,#52BE80   );
    margin-top:2%;
    text-align:center;
    height:300px
  
}
.git{
    width:100%;
   
}
.shad1{
 
       box-shadow: 10px 10px rgba(0, 98, 90, 0.4),
              15px 15px rgba(0, 98, 90, 0.3),
              20px 20px rgba(0, 98, 90, 0.2),
              25px 25px rgba(0, 98, 90, 0.1),
              30px 30px rgba(0, 98, 90, 0.05);
    border-radius:60%

}


@media only screen and (min-width: 800px) and (max-width:1000px){
    #coding{
         height:560px;
       
         /* 700 */
    }
}

 @media only screen and (max-width: 800px) {
    #coding{
        /* height:1200px; */
        height:820px;
        width:80%;
    
    }
    .gitCard{
        width:50%
    }
    .proficiency{
        width:60%;
        margin:2%;
       margin-left:15%;
    }
    #photo{
        margin-left:35%
    }
}
#project {
    min-height: 100vh;
    
      /* background-color:   #212f3d  */
/* ;*/
}

   
#projCol{
    background-color: #97eebe;
}

#btn{
  color:white;
  background:#31d8a0;
  border:none;
  outline:none
}
body{
  width:100%
}